<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>إعتراف</title>
  </head>

  <body id="myBody">
    <nav class="navbar navbar-expand-lg myNav ">
  <a class="navbar-brand order-md-last navbar-nav ml-auto" href="{{url_for('home')}}">إعتراف</a>  
  <button class="navbar-toggler navbar-light bg-light buNav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon  "></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('contact')}}"> أتصل بنا </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">عن الموقع</a>
      </li >
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('manage')}}">تعديل المعلومات</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('messages')}}">إعترافات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}"> <img src="{{ url_for('static', filename='home.png') }}" style="width: 25px"> </a>
      </li>
    </ul>
    
  </div>
</nav>
    
    <div id="myDiv">

      {% block body %}
<div id="userCard">
    <div class="userHead"></div>
    <img class="cardImg" src="{{ url_for('static', filename='Dy7NqKQXQAERM22.jpg') }}">
    <h3>أمجد زغلول</h3>
    <h4> لديك 5 إعترافات</h4>
    <a href="/messages">a3traf.com/amjadzaghloul</a>
</div>
<div id="bodyDiv">
    <div class="card cardPost">
      <div class="card-header cardHeader">
        <h4> Featured </h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background-color:#16a085; border-color: black ;">Go somewhere</a>
      </div>
    </div>
</div>       
      {% endblock %}
    </div>
      
    <footer id="myFooter">
    <ul id="myUl"> 
        <li class="myLi"><a href="https://www.instagram.com/amjad_zaghloul/"><i class="fab fa-instagram"></i></a></li>
        <li class="myLi"><a href="https://twitter.com/amjadzaghloul"><i class="fab fa-twitter"></i></a></li> 
        <li class="myLi"><a href="https://www.facebook.com/amjad.zaghloul"><i class="fab fa-facebook-square"></i></a></li>
        <span class="ulText">تابعنا على مواقع التواصل</span>
    </ul>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
  </body>
</html>