<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">

    <title>إعتراف</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg mys " style="margin-bottom: 50px">
  <a class="navbar-brand order-md-last navbar-nav ml-auto" href="{{url_for('home')}}">إعتراف</a>    
  <button class="navbar-toggler navbar-light bg-light " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon  "></span>
  </button>

  <div class="collapse navbar-collapse navbar-nav ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('contact')}}"> أتصل بنا <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">عن الموقع</a>
      </li>
      <a class="nav-link" href="{{url_for('register')}}">تسجيل عضو جديد</a>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('login')}}">تسجيل الدخول</a>
      </li>
    </ul>
    
  </div>
</nav>
    
    <div id="myDiv">
      {% block body %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
  </body>
</html>