<div id="userCard">
    <div class="userHead"></div>
    <img class="cardImg" src="{{ url_for('static', filename='img/Dy7NqKQXQAERM22.jpg') }}">
    <h3>أمجد زغلول</h3>
    <h4> لديك 5 إعترافات</h4>
    <a href="/messages">a3traf.com/amjadzaghloul</a>
</div>
<div id="bodyDiv">
    <div class="card cardPost">
      <div class="card-header cardHeader">
        <h4> Featured </h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background-color:#16a085; border-color: black ;">Go somewhere</a>
      </div>
    </div>
</div>     