@import url('https://fonts.googleapis.com/css?family=Tajawal:700');
*{
    font-family: 'Tajawal', sans-serif;
        }
#myDiv {
    text-align: center;
    color: #ff6b6b;
        }
.mys{
    background: #ff6b6b;
    margin-bottom: 50px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
        }
.mys a{
    color: white
        }
.mys a:hover{
    color: black
        }

.cardUser{
    width: 300px; 
    margin: auto;
    margin-bottom: 35px;
}

.card-title{
    color: black;
    font-size: 30px;
}
.cardPost{

    margin: auto;

}

#bodyDiv{
    background: white;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    border: solid .2px

}
#myUl{
    text-align: right;
    padding-right: 30px;
    color: #ff6b6b;
    

    
}
.myLi{
    display: inline;
    text-align: left;
    color: red
}
.ulText{
}

#myFooter {
    height: 25px;
    background-color: #dfe6e9;
    width: 100%;
    position:fixed;
    bottom:0 ;
    
}
#myBody{
    background-color: #ecf0f1
}

.buNav {
    border : solid 1px black !important;
    background-color: #ff6b6b !important;
}

@media screen and (max-width: 776px){
    #bodyDiv{
    margin: 10px;
}
.navbar-toggler{
    
}